{% extends "layouts/base.html" %} {% block content %} {% from
"helpers/form_helpers.html" import render_field %} {% from
"helpers/form_helpers.html" import render_alert %}
<section class="flex justify-center items-center lg:p-0 sm:p-5 p-2 h-full">
  <div class="flex flex-col items-center justify-center h-full">
    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img
        class="w-8 h-8 mr-2"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
        alt="logo"
      />
      Chat AI
    </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-[36rem] xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        {{ render_alert() }}
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Register a new account
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          action="/register"
          method="post"
          novalidate
        >
          {{ form.csrf_token }} {{ render_field(form.email)}} {{
          render_field(form.name)}}
          <div class="flex gap-5">
            {{render_field(form.password)}}
            {{render_field(form.confirm_password)}}
          </div>
          <button
            type="submit"
            class="w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
          >
            Sign Up
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Already have a account?
            <a
              href="login"
              class="font-medium text-indigo-600 hover:underline dark:text-indigo-500"
              >Login</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
